main{
    .epic-sec{
        h1{
            font-family: "IBMPlexSans";
            font-size: 36px;
            color: #060A24;
            letter-spacing: 0;
            line-height: 42px;
        }
    }
}