footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 121px;

  h5 {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px;
  }

  .info {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    width: 80%;

    .media a {
      text-decoration: none;
      color: #060a24;
    }

    .media a i{
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0;
      padding: 0 20px 0 20px;
    }

    .media a:hover {
      color: #00f3bb;
    }
  }
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between;

    h5 {
      margin-left: 100px;
    }

    .info {
      width: 20%;
      margin-right: 100px;
      .media a i{
        font-size: 18px;
        padding: 0 0 0 0;
      }
    }
  }
}
