@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  width: 100%;
  height: 44px;
  top: 0;
  display: flex;
  justify-content: space-between;
  font-family: "IBM Plex Mono", monospace; }
  header .logo {
    width: 24px;
    margin: 10px 0 0 16px; }
  header nav .menu {
    margin: 16px 19px 0 0; }
    header nav .menu ul {
      width: 100%;
      position: absolute;
      top: 45px;
      right: 0;
      overflow: hidden;
      list-style: none;
      background: #171ae7;
      max-height: 0px;
      transition: all 0.5s ease;
      margin-bottom: 16px; }
      header nav .menu ul #topicos {
        padding-bottom: 16px; }
      header nav .menu ul li {
        position: relative;
        padding: 16px 0 8px 16px; }
        header nav .menu ul li a {
          display: block;
          color: white;
          border-right: 1px solid #aaa;
          text-decoration: none; }
        header nav .menu ul li a:hover {
          color: #00f3bb;
          text-decoration: line-through; }
    header nav .menu input {
      display: block;
      height: 32px;
      opacity: 0;
      z-index: 2;
      position: absolute;
      cursor: pointer; }
    header nav .menu span {
      display: block;
      width: 18px;
      height: 2px;
      margin-bottom: 4px;
      position: relative;
      background: #000;
      z-index: 1;
      transform-origin: 3px 0px;
      transition: transform 0.5s ease, opacity 0.55s ease; }

@media screen and (min-width: 768px) {
  body header {
    height: 80px; }
    body header .logo {
      width: 36px;
      margin: 22px 0 0 100px; }
    body header nav .menu ul {
      top: 0;
      margin: 0 100px 0 0;
      width: unset;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      max-height: 100%;
      background: white; }
      body header nav .menu ul li {
        padding: unset; }
        body header nav .menu ul li a {
          color: black;
          border-right: unset;
          padding: 26px 0 26px 48px; }
        body header nav .menu ul li a:active {
          text-decoration: line-through; }
    body header nav .menu span {
      display: none; } }
header nav .menu input[type="checkbox"]:checked ~ ul {
  max-height: 250px;
  transition: all 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out; }
header nav .menu span:first-child {
  transform-origin: 0% 0%; }
header nav .menu span:nth-last-child(2) {
  transform-origin: 0% 100%; }
header nav .menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, 1px); }
header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }
header nav .menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 0px); }

.tit-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  z-index: -1;
  margin: 0 16px 0 16px; }
  .tit-sec h1 {
    font-family: "IBM Plex Sans";
    font-size: 36px;
    font-weight: 400;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px;
    margin-bottom: 16px; }
    .tit-sec h1 .tachar {
      text-decoration: line-through; }
  .tit-sec p {
    font-family: "IBM Plex Mono";
    font-size: 14px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 22px; }
  .tit-sec button {
    font-family: "IBM Plex Mono";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-top: 36px;
    margin-bottom: 24px;
    cursor: pointer;
    height: 48px;
    width: 288px;
    background-color: #00f3bb;
    transition: 0.3s ease-in; }
    .tit-sec button a {
      width: 100%;
      text-decoration: none;
      color: #060a24; }
  .tit-sec button:hover {
    color: #ffffff;
    background: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%); }

@media (min-width: 768px) {
  .tit-sec {
    align-items: flex-start;
    margin-top: 120px;
    padding-top: unset;
    margin-left: 200px; }
    .tit-sec h1 {
      font-size: 64px; }
      .tit-sec h1 .punto {
        color: #0000EC; }
    .tit-sec p {
      margin-right: 612px;
      font-size: 16px; }
    .tit-sec button {
      width: 256px;
      height: 56px;
      font-size: 18px;
      margin: 56px 0 5px 0; } }
.epis-sec {
  position: relative;
  height: 1203.5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 1fr 1fr 1fr 1fr;
  width: 100%; }
  .epis-sec .diagonal-epis-sec {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    transform: skewY(-6deg);
    transform-origin: bottom right; }
  .epis-sec h2 {
    font-family: "IBM Plex Sans";
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 42px;
    margin: 20% 0 21px 16px;
    z-index: 2;
    grid-column: 1 / 3; }
  .epis-sec iframe {
    position: relative;
    width: 94%;
    border: none;
    border-radius: 5px;
    height: 232px;
    margin: 0 auto 0 auto;
    z-index: 2;
    grid-column: 1 / 3; }
  .epis-sec .epi_2 {
    bottom: 30px; }
  .epis-sec .epi_3 {
    bottom: 60px; }
  .epis-sec .epi_4 {
    bottom: 90px; }

@media (min-width: 768px) {
  .epis-sec {
    grid-gap: 50px;
    height: 950px; }
    .epis-sec iframe {
      width: 86.1%; }
    .epis-sec h2 {
      font-size: 48px;
      margin: 186px 0 26px 200px; }
    .epis-sec .epi_1 {
      bottom: unset;
      grid-column: 1 / 2; }
    .epis-sec .epi_2 {
      bottom: unset;
      grid-column: 2 / 3; }
    .epis-sec .epi_3 {
      bottom: unset;
      grid-row: 3 / 4;
      grid-column: 1 / 2; }
    .epis-sec .epi_4 {
      bottom: unset;
      grid-row: 3 / 4;
      grid-column: 2 / 3; } }
.phone-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .phone-sec img {
    position: relative;
    bottom: 40px;
    height: 519px;
    width: 320px;
    margin-top: -20px;
    z-index: 3; }
  .phone-sec .nosotros-txt {
    margin: -20px 16px 0 16px; }
    .phone-sec .nosotros-txt h2 {
      font-family: "IBM Plex Sans";
      font-size: 36px;
      color: #060a24;
      font-weight: 400;
      letter-spacing: 0;
      width: 60%; }
    .phone-sec .nosotros-txt p {
      font-family: "IBM Plex Mono";
      font-size: 14px;
      color: #060a24;
      letter-spacing: 0;
      margin-top: 8px;
      line-height: 22px; }

@media (min-width: 768px) {
  .phone-sec {
    flex-direction: row; }
    .phone-sec img {
      margin-top: unset;
      height: 660px;
      width: 457.6px;
      bottom: 20px; }
    .phone-sec .nosotros-txt {
      width: 464px;
      margin-left: 62.4px; }
      .phone-sec .nosotros-txt h2 {
        font-size: 48px;
        width: 399px; }
      .phone-sec .nosotros-txt p {
        font-size: 16px;
        margin-top: 24px;
        line-height: 24px; } }
.invi-sec h2 {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  font-size: 36px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 54px 16px 14px 16px; }
.invi-sec .img-con {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
.invi-sec img {
  width: 100%; }

@media (min-width: 768px) {
  .invi-sec h2 {
    margin: 44px 0 36px 200px;
    font-size: 48px; }
  .invi-sec .img-con {
    flex-direction: row; }
    .invi-sec .img-con img {
      width: 33.33%; } }
.tem-sec {
  margin: 48px 16px 42px 16px; }
  .tem-sec h2 {
    font-family: "IBM Plex Sans";
    font-weight: 400;
    font-size: 36px;
    color: #060a24;
    letter-spacing: 0;
    line-height: 42px; }
  .tem-sec .temas {
    margin: 24px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .tem-sec .temas .img-tem-sec img {
      margin: 13px 108px 13px 108px; }
    .tem-sec .temas .img-tem-sec h3 {
      font-family: "IBM Plex Sans";
      font-weight: 600;
      font-size: 24px;
      color: #060a24;
      letter-spacing: 0;
      text-align: center; }
    .tem-sec .temas .tem1 {
      margin-bottom: 36px; }
    .tem-sec .temas .tem2 {
      margin-bottom: 52px; }
    .tem-sec .temas .tem3 {
      margin-bottom: 52px; }

@media (min-width: 768px) {
  .tem-sec {
    margin: 64px 220px 34px 200px; }
    .tem-sec h2 {
      font-size: 48px; }
    .tem-sec .temas {
      flex-direction: row;
      align-items: unset; }
      .tem-sec .temas .img-tem-sec {
        width: 260px; }
        .tem-sec .temas .img-tem-sec img {
          margin: 69px 0px 29px 0px; }
      .tem-sec .temas .tem1 {
        margin-bottom: unset; }
      .tem-sec .temas .tem2 {
        margin-bottom: unset; }
      .tem-sec .temas .tem3 {
        margin-bottom: unset; } }
.nov-sec {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 341px;
  padding: 64px 16px 67px 16px;
  overflow: hidden; }
  .nov-sec .diagonal-nov-sec {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
    transform: skewY(-6deg);
    transform-origin: bottom right; }
  .nov-sec .novedades {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px; }
    .nov-sec .novedades h2 {
      font-family: "IBM Plex Sans";
      font-weight: 400;
      font-size: 36px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center;
      line-height: 42px;
      margin-bottom: 24px; }
    .nov-sec .novedades button {
      font-family: "IBM Plex Mono";
      font-size: 16px;
      font-weight: 500;
      color: #060a24;
      letter-spacing: 0;
      text-align: center;
      line-height: 22px;
      height: 48px;
      width: 288px;
      background-color: #00f3bb;
      transition: 0.3s ease-in; }
    .nov-sec .novedades button:hover {
      color: #ffffff;
      background: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%); }

@media (min-width: 768px) {
  .nov-sec {
    height: 518px;
    padding: unset; }
    .nov-sec .novedades {
      width: 688.90px; }
      .nov-sec .novedades h2 {
        font-size: 48px;
        margin-bottom: 36px; }
      .nov-sec .novedades button {
        position: relative;
        width: 345px;
        height: 56px; } }
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 121px; }
  footer h5 {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px; }
  footer .info {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    width: 80%; }
    footer .info .media a {
      display: block;
      text-decoration: none;
      color: #060A24;
      font-size: 16px;
      letter-spacing: 0;
      line-height: 28px; }
    footer .info .media a:hover {
      color: #00F3BB; }

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: space-between; }
    footer h5 {
      margin-left: 100px; }
    footer .info {
      width: 20%;
      margin-right: 100px; }
      footer .info .media a {
        font-size: 18px; } }
body {
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
